body {
  font:normal 11px "Helvetica Neue", Helvetica, sans-serif;
  background:url('../img/background.png') repeat scroll;
  color:#dddddd;
  font-size:37px;
}
div#content {
  text-align:center;
  margin-top:160px;
}
div#content h1 { margin-bottom:70px; }
div#description {
  margin-top:20px;
  width:100%;
  text-align:center;
}
div#description strong {
  font-size:60px;
  margin:0 5px;
}
div#description span.solved { font-weight:bold; }
